body{
  background-color: #F9A9D8;
}

#mainContent {
  background-color: #FFD6EE;
}

#mainTitle {
  background-color: #FFD6EE;
}

header {
  background-color: #FFD6EE;
}

nav {
  background-color: #FFD6EE;
}
